extends base.pug
block content
    if (parentID)
        p
            a(href="/" + parentID) <- Back
    if creator === username
        p
            a(href="/" + ID + "/update") Update this page
    h3 #{pageName}
        div(class="card")
            img(class="card-img-top img-card" src="/images/" + pageImage alt=pageName)
            div(class="card-body")
                p(class="card-text") #{pageText}
            div(class="card-footer")
                small(class="text-muted")
                    p Created By: #{creator} at #{new Date(date).toDateString()}
                small(class="text-muted")
                    p Likes: #{likes}
                if auth
                    form(method="post" action="/" + ID + "/like")
                        button(type="submit" class="btn btn-primary") Like